@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@600&display=swap');
@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Signika Negative", sans-serif;
  background-color: #FAF9FB;
  scroll-behavior: smooth;
}
